.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans{
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}


/**Nav styles*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 24px 160px;
  color: #C6E4D6;
}
.nav-title{
  font-weight: bold;
  font-size: 32px;
  color: #0E0E0E;
}
.btn-primary{
  color: #006A50;
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 8px;
}
/**banner style*/
.banner{
  display: flex;
  background-color: #C6E4D6;
  margin: 160px;
  padding: 80px 100px;
  border-radius: 24px;
  gap: 30px;
}
.banner-content{
 padding: 60px 117px;
}
.banner-title{
  font-weight: 200px;
  font-size: 24px;
  color: #0e0e0e50;
}
.banner-description{
  font-weight: bold;
  font-size: 40px;
}
.banner-pic{
  width: 300px;
  padding: 60px 80px;
}
.btn-new{
  font-size: 10px;
  color: #FFFFFF;
  
  padding: 17px 34px;
  border-radius: 8px;
  background-color: #006A50;
}


/**section title*/
.skill-bg{
  gap: 20px;
  padding: 160px;
}


.section-title{
  font-weight: bold;
  font-size: 40px;

}
/**frame-container*/
.frame-container{
  display: flex;
  gap: 20px;
  padding: 160px;
}
.frame{
  padding: 24px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

}
.btn{
  color: #FFFFFF;
}
.frame-title{
  font-weight: bold;
  font-size: 20px;
}
.frame-discription{
  font-weight: 400px;
  font-size: 16px;
  color: #0e0e0e69;
}
/*about-title**/
.about-bg{
  gap: 20px;
  padding: 160px;
}
.about-title{
  font-weight: bold;
  font-size: 40px;
}
.about-description{
font-size: 16px;
color: #0e0e0e69;
}